In [1]:
import pandas as pd

temp =pd.read_csv("outputs\datasets\clientTrajectory_JailUpdate.csv")

In [3]:
temp.drop(['WorkReleaseArrival', 'WorkReleaseDeparture','MonitoringArrival',
                    'MonitoringDeparture','HomeArrival', 'HomeDeparture', 'ArrivalTime',
                    'JailDeparture','JailArrival', 'ProfileID','DNACollected_TRUE'], axis = 1, inplace = True)

In [5]:
temp.to_csv("preprocessed_clientTrajectory.csv", index=False)

In [6]:
temp

,age,num_previous_recidivisms,race_Caucasian,race_Hispanic,race_Other,gender_Male,registeredSexOffender_TRUE,violentOffender_TRUE,gangMember_x_TRUE,homeless_TRUE,employmentStatus_Full_Time,employmentStatus_Part_Time,employmentStatus_Unemployed,HighestEducationLevel_High_School_Diploma,HighestEducationLevel_No_HS_Diploma,HighestEducationLevel_Some_College,licenseStatus_Not_Suspended,licenseStatus_Suspended,Recidivism
0,42,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0
1,37,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0
2,62,0,0,1,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0
3,42,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
4,43,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50954,53,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
50955,41,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
50956,29,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
50957,23,0,0,0,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0
50958,35,5,1,0,0,1,0,0,0,1,1,0,0,1,0,0,1,0,0

: